<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../public/css/useracess.css" />
    <title>User Acess Level</title>
</head>

<body>
    <header>
        <div class="menu">
            <i class="fa-sharp fa-solid fa-bars togg"></i>
            <img src="../../public/Img/Logo-white.PNG" alt="Logo of company" id="logoimage" />

            <div class="navbar navbar-list">
                <ul>
                    <li>
                        <i class="fa-solid fa-house fa-position" style="color: #54545f"></i
                            ><a href="#" class="li-pos">User Acess Level</a>
                        </li>

                        <li>
                            <i
                                class="fa-solid fa-pen-to-square fa-position"
                                style="color: #54545f"
                            ></i
                            ><a href="ees" class="li-pos">Edit Site Settings</a>
                        </li>
                        <li>
                            <i
                                class="fa-solid fa-van-shuttle fa-position"
                                style="color: #54545f"
                            ></i
                            ><a href="Add" class="li-pos">Add</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main></main>
        <script src="../../public/js/ess.js"></script>
    </body>
</html>