@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

p,
a,
li {
  font-size: 1.7rem;
  color: #20262e;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.fa-bars {
  font-size: 3.2rem;
  cursor: pointer;
}

header {
  height: 6.4rem;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  left: 106px;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

#logoimage {
  position: absolute;
  width: 21rem;
  height: 6.4rem;
  left: 162px;
  top: 0px;
  color: #ffffff;
}

.navbar {
  height: 100vh;
  position: absolute;
  top: 65px;
  left: 0;
  transform: translate(-100%);
  transition: all 0.3s linear;
}

.navbar-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 240px;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.navbar-list ul {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.5rem;
  list-style: none;
  width: 240px;
}

#hrline {
  position: absolute;
  width: 240px;
  height: 1px;
  left: 0px;
  top: 210px;
  background: #d9d9d9;
}

.navbar-list a {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #5a5a5f;
  left: 72px;
}

.fa-position {
  padding-top: 5px;
  position: absolute;
  left: 32px;
}

.navbaractive {
  transform: translate(0%);
}
