@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #2e3840;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 700px;
  background: white;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.box-1 {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 600px;
  justify-content: center;
}

.box-1 h1 {
  font-weight: 400;
  size: 18px;
  letter-spacing: 0.2;
  color: #ff0303;
}

.text {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #5a5a5f;
  text-align: left;
}

.box-2 {
  position: absolute;
  width: 100%;
  max-width: 1020px;
  height: 100px;
  background: white;
  justify-content: center;
}

.text-2 {
  position: absolute;
  left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #5a5a5f;
}

.c-btn {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 120px;
  height: 40px;
  left: 650px;
  top: -10px;
  background: #ffffff;
  border: 1px solid #4e6e81;
  border-radius: 4px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #ff0303;
}

.s-btn {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 120px;
  height: 40px;
  left: 800px;
  top: -10px;
  background: #2e3840;
  border-radius: 4px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }
  .box {
    border-radius: 2rem;
  }
}

/* FOr admin page*/
